<div class="container error-container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-12 text-center">
            <h1 class="big-text">Oops!</h1>
            <h2 class="small-text">404 - PAGE NOT FOUND</h2>

        </div>
        <div class="col-md-6  text-center">
            <p>La page que vous recherchez a peut-être été supprimée, son nom a changé ou est temporairement indisponible.</p>

            <h2 class="small-text">OU</h2>

            <a routerLink="/" class="button button-dark-blue iq-mt-15 text-center">ALLER À LA PAGE D'ACCUEIL</a>

        </div>

    </div>


</div>