<!-- Footer -->
<div class="footer bg-gray #kamal">
    <img class="decoration-circles" src="./assets/home/images/decoration-circles.png" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>If you want to find out which are the right influencers for your product marketing campaigns then follow us</h4>
                <div class="social-container">
                    <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f fa-stack-1x"></i>
                      </a>
                  </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-twitter fa-stack-1x"></i>
                      </a>
                  </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-pinterest-p fa-stack-1x"></i>
                      </a>
                  </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-instagram fa-stack-1x"></i>
                      </a>
                  </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-youtube fa-stack-1x"></i>
                      </a>
                  </span>
                </div>
                <!-- end of social-container -->
            </div>
            <!-- end of col -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <ul class="list-unstyled li-space-lg p-small">
                    <li><a href="article.html">Article Details</a></li>
                    <li><a href="terms.html">Terms & Conditions</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <!-- end of col -->
            <div class="col-lg-3 col-md-12 col-sm-12">
                <p class="p-small statement">Copyright © <a href="#">Your name</a></p>
            </div>
            <!-- end of col -->

            <div class="col-lg-3 col-md-12 col-sm-12">
                <p class="p-small statement">Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
            </div>
            <!-- end of col -->
        </div>
        <!-- enf of row -->
    </div>
    <!-- end of container -->
</div>
<!-- end of copyright -->
<!-- end of copyright -->

<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
<img src="./assets/home/images/up-arrow.png" alt="alternative">
</button>
<!-- end of back to top button -->