<div class="d-flex text-center reset-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-reset">

        <div class="form-group py-2">
            <img src="./assets/img/3wdev.svg" alt="3wdev logo" height="87px" width="100px" />
            <h1 class="h3 mb-3 font-weight-normal pt-4">Reset Password</h1>
        </div>
        <div class="alert alert-danger" [hidden]="!errors">
            {{ errors }}
        </div>
        <div *ngIf="successMsg != null" class="alert alert-success mt-3">
            {{ successMsg?.message }}
        </div>
        <div class="form-group py-1">
            <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Enter votre Email" autofocus required/>
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>
        <div class="form-group p-2">
            <button type="submit" class="btn btn-primary">Reset Password</button>
            <button routerLink="../login" class="btn btn-primary">login</button>
        </div>
    </form>
</div>